.highContainer {
    background-color: #1E213A;
    color: #E7E7EB;
    font-family: 'Raleway', sans-serif;
    width: 328px;
    height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 55px;
       
}

.highContainer span {
    font-size: 16px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}

.highContainer h1 {
    font-size: 32px;
    font-weight: 400;
}

.progressBarContainer {
    width: 185px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progressBar {
    height: 100%;
    background-color: #FFEC65;
    transition: width 0.3s ease-in-out;
  }

  .temperatureToggle {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .windDirection {
    display: flex;
    align-items: center;
  }
  
  .windDirection img {
    width: 29.49px;
    height: 29.49px;
    
  }
  
  .windDirection span {
    margin-left: 8px;
  }
  

  
@media (min-width: 1000px) {
    .highContainer{
        width: 48%;
    }
}